# adapted from https://gist.github.com/misberner/8316891

*.zip
*.pdf
trash/
*.xls
*.xlsx
*.tif
*.tiff
*.ods
*\#
.RData
*.jpg
manuals/
*.bak*

# LaTeX temporary files
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.glsdefs
*.gz
*.idx
*.ind
*.lof
*.log
*.lol
*.lot
*.out
*.toc
*.xdy
*.xml

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# MATLAB saves
*.mat
*.fig

# syncthing
.stversions

# do not watch binary PDF
*.pdf
